<% for( let i = 0; i < 5; i++ ) { %>
    <div class="d-flex align-items-center items" id="<%= product[i].product_id %>">
        <div class="d-flex align-items-center" style="width: 50%;">
            <img src="<%= product[i].product_id %>" alt="" width="20%" height="40%">
             <div>
                <h4><%= product[i].name%></h4>
                <h5>Price: <%= product[i].price%></h5>
             </div>
             
        </div>
        <div style="display: flex; justify-content: space-around; width: 40%;" id="myPopup">
            <div class="popup" >Details
                <span class="popuptext" ><%= product[i].description%></span>
            </div>
            <% if (cartitems) { %>
                <% var flag=0; %>
                <% for( let j = 0; j < cartitems.length; j++ ) { %>
                    <% if (product[i].product_id==cartitems[j].product_id) { %>
                        <% flag=1; %>
                    <% } %>
                <% } %>
                <% if (flag){ %>
                    <button class="cart" id="<%= product[i].product_id %>c" style="display: none;">Add to cart</button>
                    <button class="btn btn-secondary removecart" id="<%= product[i].product_id %>rc" >Remove from cart</button>    
                
            <% } else { %>
                    <button class="cart" id="<%= product[i].product_id %>c" >Add to cart</button>
                    <button class="btn btn-secondary removecart" id="<%= product[i].product_id %>rc" style="display: none;" >Remove from cart</button>
             <% } %>

             <% }else { %>
                <button class="cart" id="<%= product[i].product_id %>c" >Add to cart</button>
                <button class="btn btn-secondary removecart" id="<%= product[i].product_id %>rc" style="display: none;" >Remove from cart</button>
         <% } %>
        </div>
    </div>
<% } %>